#contact {
  background: linear-gradient(to bottom, #33415c, #001233);
}

.contactIcons {
  i {
    padding: 1rem;
    color: $white;
    transition: all 0.5s;

    &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.5s;
    }
  }
}

.emailIcon {
  &:hover {
    color: #d9ed92;
    }
}

.githubIcon {
  &:hover {
    color: #f6bd60;
    }
}

.facebookIcon {
  &:hover {
    color: #006AFF;
    }
}

.instagramIcon {
  &:hover {
    color: #E1306C;
    }
}

.desktopIcon {
  &:hover {
    color: #e5e5e5;
    }
}

.youtubeIcon {
  &:hover {
    color: #ff0100;
    }
}