#contact {
  background: linear-gradient(to bottom, #001233, #03071e);
}

.contactIcons {
  i {
    font-size: 3rem;
    padding: 1rem;
    color: $white;
    transition: all 0.5s;

    &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.5s;
    }
  }
}

#resume {
  font-size: 1.3rem;
  background: #caf0f8;
  color: $black;
  padding: 0.5rem 1rem;
  margin: .5rem 0rem;
  box-shadow: 0px 3px 10px $shadow-color;
  border-radius: 0.5rem;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-5px);
    color: $white;
    background: rgb(80, 112, 218);
    text-decoration: none;
  }

  i {
    padding-right: 0.5rem;
    font-size: 1.2rem;
  }
}

.emailIcon {
  &:hover {
    color: #d9ed92;
  }
}

.linkedinIcon {
  &:hover {
    color: #037fb2;
  }
}

.facebookIcon {
  &:hover {
    color: #006AFF;
  }
}

.instagramIcon {
  &:hover {
    color: #E1306C;
  }
}
