#contact {
  background: linear-gradient(to bottom, #33415c, #001233);
}

.contactIcons {
  a {
    color: $back-color;
  }

  i {
    padding: 1rem;
    color: white;

    &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: blue;
    transition: all 0.5s;
    }
  }
}