#education {
  background: linear-gradient(to bottom, #001d3d, #014f86);
  min-height: 150vh;
}

.educationItem {
  @include flexCenter(row);
  margin: 2rem 0rem;
}

// logo - on left
.schoolLogo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px;
  height: 180px;
  width: 180px;
  margin: 1rem;
  background-color: $white;
  box-shadow: 0px 3px 10px $shadow-color;
  border-radius: 50%;
  transition: transform 0.5s;
  
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }
}

#dartLogo {
  background-image: url('/src/img/dartmouth.png');
}

#tjLogo {
  background-image: url('/src/img/tj.png');
}

// body of text - on right
.schoolText {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;

  button {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    @include flexBetween(column);
    margin: 0;
  
    li {
      font-size: 1rem;
      margin: 0.5rem;
    }
  }
}

.schoolName {
  font-family: $font-1;
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: left;
}

.degreeText {
  margin-top: 0.5rem;
}

.fa-caret-down {
  padding-left: 0.5rem;
}

// location + time
.schoolIcons {
  width: 80%;
  display: flex;
  align-items: center; 
  margin: 0.5rem 0rem;

  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
    
    p {
      margin: 0;
      font-family: $font-1;
      font-size: 1.2rem;
      font-weight: 100;
      color: $white;
      padding-left: 0.5rem;
    }
  }
}

.courseList {
  width: 70%;  
}