#experience {
  background: linear-gradient(to bottom, #014f86, #5c677d);
  min-height: 140vh;
}

.experienceItem {
  @include flex(row, center);
  align-items: flex-start;
  margin: 2rem 0rem;
}

.experienceLogo {
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 1rem;
  background-color: $white;
  box-shadow: 0px 3px 10px $shadow-color;
  border-radius: 10%;
  transition: transform 0.5s;
  
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }
}

#vitalizeLogo {
  background-color: #b6d8fb;
  background-image: url('/src/img/vitalize-logo.png');
  background-size: 190px;
}

#taLogo {
  background-color: #016936;
  background-image: url('/src/img/taLogo.jpeg');
  background-size: 290px;
}

#daliLogo {
  background-image: url('/src/img/dali.png');
  background-size: 200px;
  background-color: #94d3cd;
}

#mathworksLogo {
  background-image: url('/src/img/mathworksLogo.png');
  background-size: 150px;
  background-color: #0167a4;
}

.experienceText {
  @include flex(column, flex-start);
  align-items: flex-start;
  width: 600px;
  padding-left: 3rem;

  button {
    font-size: 1.2rem;
  }

  .experienceTitles {
    margin-bottom: 1.5rem;
    p {
      margin: 0;
      line-height: 1.2;
      text-align: left;
    }
  }

  ul {
    @include flex(column, space-between);
    margin: 0;
  
    li {
      text-align: left;
      font-size: 1rem;
      margin: 0.5rem;
      margin-left: 1.5rem;
    }
  }
}

.experienceOrg {
  font-family: $font-1;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
}

.experienceIcons {
  @include flex(row, center);
  margin-bottom: 1rem;
}

