#experience {
  background: linear-gradient(to bottom, #014f86, #5c677d);
  min-height: 150vh;
}

.experienceItem {
  @include flexCenter(row);
  margin: 2rem 0rem;
}

.experienceLogo {
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 1rem;
  background-color: $white;
  box-shadow: 0px 3px 10px $shadow-color;
  border-radius: 10%;
  transition: transform 0.5s;
  
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }
}

#vitalizeLogo {
  background-color: #b6d8fb;
  background-image: url('/src/img/vitalize-logo.png');
  background-size: 190px;
}

#taLogo {
  background-color: #016936;
  background-image: url('/src/img/taLogo.jpeg');
  background-size: 290px;
}

.experienceText {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;

  button {
    font-size: 1.2rem;
  }

  ul {
    @include flexBetween(column);
    margin: 0;
  
    li {
      text-align: left;
      font-size: 1rem;
      margin: 0.5rem;
      margin-left: 1.5rem;
    }
  }
}

.experienceOrg {
  font-family: $font-1;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
}

.experienceIcons {
  display: flex;
  margin-bottom: 1rem;

  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
    color: $white;
    
    p {
      margin: 0;
      font-family: $font-1;
      font-size: 1.2rem;
      font-weight: 100;
      color: $white;
      padding-left: 0.5rem;
    }
  }
}