#home {
  background: linear-gradient(to bottom, #03071e, #343a40);
  justify-content: center;
  padding-top: 0rem;
  height: 100vh;
}

.particles {
  //position: absolute;
  margin-top: 5vh;
  //height: 88vh;
  max-width: 600px;
}

#homeText {
  p {
    margin: 1rem;
  }
}