#home {
  background: linear-gradient(to bottom, #03071e, #343a40);
  justify-content: flex-start;
  padding-top: 0rem;
  height: 130vh;
}

.particles {
  margin-top: 10vh;
  height: 60vh;
}

.homeContact {
  i {
    font-size: 2rem;
    padding: 0vh 1rem 7vh 1rem;
    color: $white;
    transition: all 0.5s;

    &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.5s;
    }
  }
}

#downButton {
  i {
    font-size: 2.5rem;
    padding-top: 3vh;
    color: #a7e9ed;
    transition: all 0.5s;
  
    &:hover {
      cursor: pointer;
      color: #2ba6d4;
      transform: translateY(-5px);
      transition: all 0.5s;
  
        + p {
          visibility: visible;
          color: #2ba6d4;
          transition: all 2s;
        }
      }
  }

  p {
    color: transparent;
    transition: all 1s;
  }
  
}