#home {
  background: linear-gradient(to bottom, #03071e, #343a40);
  justify-content: flex-start;
  padding-top: 0rem;
  height: 130vh;
}

.particles {
  margin-top: 15vh;
}

.homeContact {
  i {
    font-size: 2rem;
    padding: 1rem;
    color: $white;
    transition: all 0.5s;

    &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.5s;
    }
  }
}

.downButton {
  font-size: 2rem;
  padding: 3rem 0rem;
  color: $white;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    color: #caf0f8;
    transform: translateY(-5px);
    transition: all 0.5s;
    }
}