#projects {
  background: linear-gradient(to bottom, #5c677d, #33415c);
  min-height: 120vh;
}

.projectCarousel {
  @include flexBetween(row);

  button {
    font-size: 20; 
    padding: 10px; 
    margin: 0px 20px;
    border-radius: 0.5rem;
    transition: all 0.5s;

    &:hover {
      transition: all 0.5s;
      transform: translateY(-5px);
    }
  }
}

.carouselItem {
  @include flexBetween(row);
  width: 70vw;
  height: 250px;
  margin: 5rem 0rem;
  background-color: rgb(99, 139, 151);
  border-radius: 1rem;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }
  
}

.carouselText {
  @include flexBetween(column);
  padding: 1rem;
}

#imageBot {
  width: 300px;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-50px);
    transition: transform 0.5s;
  }
}

