@import "./home.scss";
@import "./about.scss";
@import "./education.scss";
@import "./experience.scss";
@import "./projects.scss";
@import "./music.scss";
@import "./contact.scss";

section {
    @include flex(column, flex-start);
    min-height: 80vh;
    padding-top: 120px;
    padding-bottom: 120px;
  
    h2 {
      font-size: 4rem;
      color: $white;
    }

    h3 {
      font-size: 2rem;
      color: $white;
    }
}

