@import "./home.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./education.scss";

section {
    min-height: 100vh;
    padding-top: 120px;
    @include flexCenter(column);
    justify-content: flex-start;
  
    h2 {
      font-size: 5rem;
      color: $main-color;
    }

    h3 {
      font-size: 2.5rem;
      color: $main-color;
    }
}

