@import "./home.scss";
@import "./about.scss";
@import "./education.scss";
@import "./experience.scss";
@import "./projects.scss";
@import "./contact.scss";

section {
    min-height: 100vh;
    padding-top: 120px;
    @include flexCenter(column);
    justify-content: flex-start;
  
    h2 {
      font-size: 4rem;
      color: $white;
    }

    h3 {
      font-size: 2rem;
      color: $white;
    }
}

