@media only screen and (max-width:940px) {

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }

  // NAV BAR
  .navMenu {
    @include flex(column, center);
    width: 90%;
    position: fixed;
    margin: auto;
    right: -100%;
    top: 13vh;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background-color: $white;
    border-radius: 0.25rem;
    left: 0%;
    right: 0%;
    list-style: none;
    box-shadow: 0px 5px 15px $shadow-color;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navLinks {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 90%;
  }

  #hamburgerIcon {
    display: block;
    margin-right: 1.4rem;
    cursor: pointer;
  
    &:hover {
      transition: transform 0.5s;
      transform: translateY(-5px);
    }
  }

  #normalList {
    display: none;
  }

  #menuIcon {
    display: block;
    transition: all 1s;
  }

  section h2 {
    font-size: 4rem;
  }

  // ABOUT SECTION
  #aboutBody {
    @include flex(column, space-between);
  }

  #portrait {
    margin-bottom: 4rem;
  }

  #aboutText {
    margin: 0rem 2rem;

    p {
      padding: 0rem 1rem;
    }
  }

  #languages {

    h3 {
      padding: 1rem 1rem;
    }

    .languageIcon {
      width: 100px;

      i {
        font-size: 5rem;
      }
    }
  }

  // EDUCATION SECTION
  .educationItem, .schoolIcons, 
  .experienceItem, .experienceIcons {
    @include flex(column, center);
  }

  .schoolIcons, .experienceIcons {
    i {
      margin: 0.3rem;
    }
  }
  
  .schoolText, .experienceText {
    width: 80vw;
    padding: 0rem;
    align-items: center;
  }

  .schoolName, .experienceOrg {
    text-align: center;
    margin-top: 1rem;
  }

  // PROJECTS SECTION

  .projectItem {
    @include flex(column, center);
  }

  .projectText {
    min-width: 45vw;
    align-items: center;
  }

  .projectLanguage {
    justify-content: space-around;

    p {
      margin: 0.5rem 0.5rem;
    }
  }

  .projectIcons {
    @include flex(row, center);
    flex-wrap: wrap;

    i {
      margin: 0.4rem 0.5rem;
    }
  }

  .projectDescr {
    text-align: center;
    margin: 1rem 0rem;
  }
    
  .projectImage {
    width: 50vw !important;
    margin: 1rem 0rem !important;
  }

  // PERSONAL SECTION
  .personalSection  {
    @include flex(column, center);
    align-items: center;
  }

  .personalText {
    max-width: 70vw;
    margin: 0rem;
  }

  #musicMedia, 
  #foodPictures {
    margin: 0rem;
    max-width: 80vw;
  }

  // CONTACT SECTION
  .contactIcons {
    @include flex(row, center);
    flex-wrap: wrap;
    a {
      width: 30%;
    }
  }
}

// PHONE SCREEN
@media only screen and (max-width:570px) {

  .particles {
    margin-top: 22vh;
    width: 450px;
    height: 220px;
    margin-bottom: 3rem;
  }

  .projectItem {
    width: 85vw;
  }

  .projectText {
    padding: 0.2rem;
  }

  .projectLanguage {
    p {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
  }

  .projectIcons {
    i {
      font-size: 1rem;
      padding: 0.3rem 0.2rem 0.3rem 0.35rem;

      p {
        font-size: 0.8rem;
      }
    }
  }

  .projectImage {
    width: 70vw !important;
  }

  #musicMedia {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .foodImage {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .hoverImg {  
    width: 120px;
    height: 120px;
  }
}
  