nav {
  position: fixed;
  width: 100%;
  @include flexBetween(row);
  z-index: 1;
  top: 0px;
  transition: background-color 1.5s;
}

#navLogo {
  @include flexCenter(row);
  margin-left: 0.5rem;
  cursor: pointer;
  transition: color 1.5s;
}

#faceLogo {
  background-image: url('../img/man-icon.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.7rem;
  transition: background-image 0.4s;

  &:hover {
    background-image: url('../img/home.png');
    transition: background-image 0.4s;
  }
}

.navMenu {
  list-style: none;
  @include flexBetween(row);
  margin: 0;
  margin-right: 1.7rem;
}

.navLinks {
  text-decoration: none;
  padding: 0.3rem 1rem;
  margin: 0rem 0.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  transition: color 1.5s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
  }
}

#hamburgerIcon {
  display: none;
}

.fa-times, .fa-bars {
  font-size: 2rem;
}