$black: #03071e;
$white: #f8f9fa;
$shadow-color: rgba(0,0,0,0.8);
$font-1: 'Francois One', sans-serif;
$font-2: 'Open Sans', sans-serif;

@mixin flex($flexd, $justifyd) {
  display: flex;
  flex-direction: $flexd;
  justify-content: $justifyd;
  align-items: center;
}